<h1>Authority Groups</h1>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['create']">Create</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <th># Id</th>
        <th>Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let authorityGroup of authorityGroups, let i = index">
          <td><a [routerLink]="[authorityGroup.id]">{{ authorityGroup.id }}</a></td>
          <td>{{ authorityGroup.name }}</td>
          <td>
            <button type="button" class="btn btn-secondary"
              (click)="onDelete(authorityGroup.id, i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>